<div>
  <app-navbar></app-navbar>
  <section class="who-are-we">

    <!-- WHO ARE WE -->
    <div class="who-container">
        <div class="who-top">
            <h3>WHO ARE WE?</h3>
            <img src="assests/images/who-image.png" alt="">
        </div>
        <div class="who-bottom">
            <p>The Symposium of Episcopal Conferences of Africa and Madagascar (SECAM) was born 
                out of the wish of African Bishops during the Second Vatican Council (1962-1965) 
                to establish a forum in which they could speak with one voice on matters pertaining
                 to the Church in Africa. The establishment of SECAM is therefore the result of the 
                 Bishops' resolve to build a continental structure in order to bring forth the African 
                 vision to the whole Church. <br><br>
                Seeing the importance of such an Association for Africa, the Congregation for the 
                Evangelisation of the Peoples invited the Presidents of the Regional Episcopal Conferences 
                for consultations in 1968. <br><br>
                Consequently, the first visit of a Pope to Africa, in modern times, was seen as
                 a very opportune occasion for the launch of the Symposium of Episcopal Conferences
                  of Africa and Madagascar. This was therefore done during the visit of His Holiness
                   Pope Paul VI in Kampala (Uganda) in July, 1969. <br><br>
                Thereafter, it was agreed to establish the Headquarters / Secretariat of SECAM in
                 Accra, Ghana. There are three official languages of SECAM, namely, English, 
                 French and Portuguese.</p>
        </div>
    </div>

    <!-- OUR JOURNEY - Timeline -->
    <div class="our-journey">
        <h4>OUR JOURNEY</h4>
        <div class="time-container">
            <div class="time-box">
                <div class="time-circle1"></div>
                <p class="period1">1962-1965</p>
                <p class="event">Vision Born</p>
                <p>African Bishops envision SECAM</p>
            </div>
            <div class="connector connector1"></div>
            <div class="time-box">
                <div class="time-circle2"></div>
                <p class="period2">1968</p>
                <p class="event">Consultations Begin</p>
                <p>Leader meet to shape</p>
            </div>
            <div class="connector connector2"></div>
            <div class="time-box">
                <div class="time-circle3"></div>
                <p class="period3">1969</p>
                <p class="event">Official Launch</p>
                <p>SECAM Inaugurated</p>
            </div>
            <div class="connector connector3"></div>
            <div class="time-box">
                <div class="time-circle4"></div>
                <p class="period4">Today</p>
                <p class="event">Continental Impact</p>
                <p>Uniting and</p>
            </div>
        </div>
    </div>

    <!-- AIMS - Vision & Mission banner -->
    <div class="aims">
        <div class="aims-container">
           <div class="vision-container">
            <img src="assests/images/vision-icon.png" alt="">
            <div class="vision-box">
                <h5>VISION</h5>
                <p>The church in Africa, fully engaged in its mission of evangelization and the emergence of a fully
                    evangelized Family of God in Africa.
                </p>
            </div>
           </div>
           <div class="aims-line"></div>
           <div class="mission-container">
            <div class="mission-box">
                <img src="assests/images/target-icon.png" alt="">
                <div class="mission-content">
                    <h5>MISSION</h5>
                    <p>To promote the Church's role as a sign and instrument of salvaltion and to build the Church 
                        as a family of God in africa by fostering communion, collaboration and joint action among all 
                        the Episcopal Conferences of Africa and the Islands through.</p>
                </div>
                <div class="mission-list">
                    <ul>
                        <li><p>1. Propaganda of Faith</p></li>
                        <li><p>2. Human Development</p></li>
                        <li><p>3. Ecumenism</p></li>
                        <li><p>4. Formation</p></li>
                        <li><p>5. Consultation</p></li>
                    </ul>
                </div>
            </div>
           </div>
        </div>
    </div>

    <!-- AIMS AND OBJECTIVES -->
    <div class="objectives-main">
        <div class="objectives-container">
            <h3>AIMS AND OBJECTIVES</h3>
            <div class="objectives-line"></div>
            <div class="objective">
                <div class="objective-number obj-1"><p>1</p></div>
                <div class="objective-content">
                    <p class="bold">Primary Evangelization</p>
                    <p>The continuation of the primary apostolate of first evangelization of those who have not yet received the message of Christ</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-2"><p>2</p></div>
                <div class="objective-content">
                    <p class="bold">In-depth Evangelization</p>
                    <p>The in-depth evangelization of the African in his culture and in his socio-political life</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-3"><p>3</p></div>
                <div class="objective-content">
                    <p class="bold">Integral Human Development</p>
                    <p>The promotion of intergral human development</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-4"><p>4</p></div>
                <div class="objective-content">
                    <p class="bold">Ecumenism and Dialogue</p>
                    <p>Ecumenism and inter-religious dialogue in Africa</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-5"><p>5</p></div>
                <div class="objective-content">
                    <p class="bold">Academic and Pastoral Advancement</p>
                    <p>The promotion of Institutes of research and of pastoral and theological formation</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-6"><p>6</p></div>
                <div class="objective-content">
                    <p class="bold">Continental Consultation</p>
                    <p>Regular consultations on the major problems facing the Church in Africa and in the world</p>
                </div>
            </div>
            <div class="objective">
                <div class="objective-number obj-7"><p>7</p></div>
                <div class="objective-content">
                    <p class="bold">Organic Pastoral Solidarity</p>
                    <p>Promoting The organic pastoral solidarity on the continental Africa and its nearby Islands (Ecclesia in Africa, 5)</p>
                </div>
            </div>
        </div>

        <!-- WHY SYMPOSIUM - Collapsed bar -->
        <div class="why-container" id="why-container" onclick="toggleWhy()">
            <h4>Why does SECAM use "Symposium" and not "Conference"?</h4>
            <span class="why-icon" id="why-icon">+</span>
        </div>
        <!-- WHY SYMPOSIUM - Expanded content -->
        <div class="why-content" id="why-content">
            <div class="why-top">
                <div class="why-open" onclick="toggleWhy()">
                    <h4>Why does SECAM use "Symposium" and not "Conference"?</h4>
                    <span class="why-icon">-</span>
                </div>
                <div class="symposium">
                    <div class="symposium-text">
                       <p>As one will observe, most, if not all other Catholic Bishops' Associations use the word 
                        Conference or Council to describe themselves. This, however, is not the case with SECAM 
                        who chose to use the word SYMPOSIUM. The Founding Fathers of SECAM chose the word "Symposium",
                         because they wanted to emphasize their desire for communion, solidarity, and fellowship. <br><br>
                        The word symposium in Greek, signifies meal or banquet. In a speech, the late Cardinal 
                        Paul ZOUNGRANA of Burkina Faso, gave an explanation of the concept of Symposium by using 
                        the image of the Eucharistic table, around which gathers, the community of brothers.</p>
                    </div>
                    <div class="symposium-diagram">
                        <p>The Core Values of the Symposium</p>
                        <div class="venn">
                            <div class="venn-top">
                                <div class="venn-circle" style="background-color: #551aa8;"><p>Communion</p></div>
                                <div class="venn-circle" style="background-color: #931497;"><p>Solidarity</p></div>
                            </div>
                            <div class="venn-bottom">
                                <div class="venn-circle" style="background-color: #d10d84;"><p>Fellowship</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- COMPOSITION OF SECAM -->
        <section class="composition-container">
            <h3>COMPOSITION OF SECAM</h3>
            <div class="objectives-line"></div>
            <div class="composition-content">
                <div class="composition-text">
                    <p>SECAM, as a Symposium, is an organ of liaison, of study and of consultation for a 
                        fruitful collaboration among the Episcopal Conferences of Africa and Madagascar 
                        through the regional Conferences. It comprises all juridically established Episcopal
                         Conferences of the entire Africa and Madagascar, grouped under Regional Conferences.
                        <br><br>
                        The highest body of SECAM is the Plenary Assembly which unites all members, through
                         their delegated representatives, once every three years. In between the Plenary 
                         Assemblies, the SECAM Standing Committee runs the affairs of SECAM through its
                          bi-annual meetings. It is composed of a President and two Vice Presidents, 
                          all elected by the Plenary Assembly. Other members include a Treasurer, 
                          appointed by the Standing Committee, and 8 members, nominated by, and 
                          representing each Regional Conferences. Other members maybe coopted, on an 
                          ex-officio basis, by the Standing Committee.</p>
                </div>
                <div class="composition">
                    <div class="comp-card1">
                        <p class="bold">The Plenary Assembly</p>
                        <p>The highest body uniting all members via delegate. Meets once every 3 years</p>
                    </div>
                    <div class="comp-card2">
                        <p class="bold">The Standing Committee</p>
                        <p>Managers affairs bi-annually between plenaries</p>
                        <div class="committee-comp">
                            <ul>
                                <li>1 President</li>
                                <li>2 Vice Presidents</li>
                                <li>1 Treasurer</li>
                                <li>8 Regional Representatives</li>
                            </ul>
                        </div>
                    </div>
                    <div class="comp-card3">
                        <p class="bold">Regional Conferences</p>
                        <p>The foundational groups comprising the entirety of Africa and Madagascar</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- How Many Commissions - Collapsed bar -->
        <div class="how-container" id="how-container" onclick="toggleHow()">
            <h4>How many commissions does SECAM have?</h4>
            <span class="how-icon" id="how-icon">+</span>
        </div>
        <!-- WHY SYMPOSIUM - Expanded content -->
        <div class="how-content" id="how-content">
            <div class="how-top">
                <div class="how-open" onclick="toggleHow()">
                    <h4>How many commissions does SECAM have?</h4>
                    <span class="why-icon">-</span>
                </div>
                <div class="commission">
                    <div class="comm-card blue-comm">
                        <div class="comm-top">
                            <img src="assests/images/Icon awesome-cross.png" alt="">
                            <h4>Evangelization</h4>
                        </div>
                        <p>Coordinates and animates the propagation of the Christian 
                            faith in Africa and fosters networking among the agents of 
                            Evangelization</p><br><br>
                            <ul>
                                <li><p>Addresses doctrinal & moral matters</p></li>
                                <li><p>Pastoral care from an African perspective</p></li>
                                <li><p>Grounded in divine revelation</p></li>
                            </ul>
                            
                    </div>
                    <div class="comm-card pink-comm">
                        <div class="comm-top">
                              <img src="assests/images/Icon awesome-balance-scale.png" alt="">
                              <h4>Justice Peace & Development</h4>
                        </div>
                        <p>Responsible for issues pertaining to social justice, integral human development,
                             and broader socio-economic challenges</p>
                             <ul>
                                <li><p>Promotes integral human development</p></li>
                                <li><p>Addresses political & cultural</p></li>
                                <li><p>Guided by Church social doctrine</p></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="conferences-container">
            <h3>REGIONAL CONFERENCES OF SECAM</h3>
            <div class="objectives-line"></div>
            <div class="conferences-content">
                <div class="conf-card conf-card1">
                    <div class="conf-card-header conf-header1"><p>Association of Episcopal Conferences of Central Africa(ACEAC)</p></div>
                    <ul>
                        <li>Conférence des Evêques catholiques du Burundi (C.E.C.A.B.)</li>
                        <li>Conférence Episcopale du Rwanda (C.Ep.R.)</li>
                        <li>Conférence Episcopale Nationale du Congo (CENCO)</li>
                    </ul>
                </div>
                <div class="conf-card conf-card2">
                    <div class="conf-card-header conf-header2"><p>Association of Episcopal Conferences of Central Africa Region (ACERAC)</p></div>
                    <ul>
                        <li>Conférence Episcopale Centrafricaine (C.E.C.A.)</li>
                        <li>Conférence Episcopale du Congo</li>
                        <li>Conférence Episcopale du Gabon</li>
                        <li>Conférence Episcopale du Tchad</li>
                        <li>Conférence Episcopale Nationale du Cameroun (C.E.N.C.)</li>
                        <li>Conferencia Episcopal de Guinea Ecuatorial</li>
                    </ul>
                </div>
                <div class="conf-card conf-card3">
                    <div class="conf-card-header conf-header3"><p>Regional Episcopal Conferences of West Africa (RECOWA/CERAO)</p></div>
                    <ul>
                        <li>Catholic Bishops’ Conference of Liberia</li>
                        <li>Catholic Bishops’ Conference of Nigeria</li>
                        <li>Conférence des Evêques de Burkina Faso et du Niger</li>
                        <li>Conférence des Evêques du Sénégal, de la Mauritanie, du Cap-Vert et de Guinée-Bissau</li>
                        <li>Conférence Episcopale de la Côte d’Ivoire</li>
                        <li>Conférence Episcopale de la Guinée</li>
                        <li>Conférence Episcopale du Bénin</li>
                        <li>Conférence Episcopale du Mali</li>
                        <li>Conférence Episcopale du Togo</li>
                        <li>Ghana Bishops’ Conference</li>
                        <li>Inter-territorial Catholic Bishops’ Conference of the Gambia and Sierra Leone (ITCABIC)</li>
                    </ul>
                </div>
                <div class="conf-card conf-card4">
                    <div class="conf-card-header conf-header4"><p>Regional Episcopal Conferences of West Africa (RECOWA/CERAO)</p></div>
                    <ul>
                        <li>Episcopal conference of Ethiopia</li>
                        <li>Episcopal conference of Eritrea</li>
                        <li>Episcopal conference of Kenya</li>
                        <li>Episcopal conference of Malawi</li>
                        <li>Episcopal conference of Tanzania</li>
                        <li>Episcopal conference of Zambia</li>
                        <li>Episcopal conference of Sudan</li>
                        <li>Episcopal conference of Uganda</li>
                        <li>Episcopal conference of Somalia</li>
                        <li>Episcopal conference of Djibouti - observer status</li>
                    </ul>
                </div>
                <div class="conf-card conf-card5">
                    <div class="conf-card-header conf-header5"><p>Regional Episcopal Conferences of North Africa (CERNA)</p></div>
                    <ul>
                        <li>Episcopal Conference of the Catholic Churches in Algeria, Libya, Morocco, Tunisia, and Western Sahara</li>
                    </ul>
                </div>
                <div class="conf-card conf-card6">
                    <div class="conf-card-header conf-header6"><p>Inter-Regional Meeting of the Bishops of Southern Africa (IMBISA)</p></div>
                    <ul>
                        <li>Conferência Episcopal de Angola e São Tomé (C.E.A.S.T.)</li>
                        <li>Conferência Episcopal de Moçambique (C.E.M.)</li>
                        <li>Lesotho Catholic Bishops’ Conference</li>
                        <li>Namibian Catholic Bishop’s Conference (N.C.B.C.)</li>
                        <li>Southern African Catholic Bishops’ Conference (S.A.C.B.C.)</li>
                        <li>Zimbabwe Catholic Bishops’ Conference (Z.C.B.C.)</li>
                    </ul>
                </div>
                <div class="conf-card conf-card7">
                    <div class="conf-card-header conf-header7"><p>Assembly of the Catholic Hierarchy of Egypt – (AHCE)</p></div>
                </div>
                <div class="conf-card conf-card8">
                    <div class="conf-card-header conf-header8"><p>Madagascar and Episcopal Conferences of Indian Ocean (CEDOI)</p></div>
                </div>
            </div>
        </section>
        <div class="organogram-header">
            <div class="org"><h3>ORGANOGRAM</h3></div>
            <div class="objectives-line"></div>
        </div>
        <div class="organogram">
            <img src="assests/images/organogram.png" alt="">
        </div>
        <div class="secretariat-header">
            <div class="org"><h3>SECRETARIAT</h3></div>
            <div class="objectives-line"></div>
        </div>
        <div class="staff-container">
            <div class="staff-label"><p class="sec-label">STAFF</p></div>
            <div class="sec-content">
                <div class="sec-carousel">
                    <div class="sec-carousel-track">
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 1 - Card 1</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 1 - Card 2</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 1 - Card 3</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 2 - Card 1</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 2 - Card 2</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 2 - Card 3</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 2 - Card 4</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 3 - Card 1</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 3 - Card 2</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Container 4 - Card 1</p>
                                    <p class="sec-title">Secretary General</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-scroll">
                    <div class="slide-indicator">
                        <div class="slide-selected"></div>
                        <div class="slide-circle"></div>
                        <div class="slide-circle"></div>
                        <div class="slide-circle"></div>
                    </div>
                    <div class="scroll-selector">
                        <div class="selector left"><img src="assests/images/Icon awesome-chevron-left.png" alt=""></div>
                        <div class="selector right"><img src="assests/images/Icon awesome-chevron-right.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="staff-container">
            <div class="sec-content">
                <div class="sec-carousel">
                    <div class="sec-carousel-track">
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 1 - Card 1</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 1 - Card 2</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 1 - Card 3</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 2 - Card 1</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 2 - Card 2</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 2 - Card 3</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 2 - Card 4</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 3 - Card 1</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 3 - Card 2</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                        </div>
                        <div class="sec-card-container">
                            <div class="sec-card">
                                <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                                <div class="sec-text">
                                    <p class="sec-name">Committee Container 4 - Card 1</p>
                                    <p class="sec-title">Committee Member</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-scroll">
                    <div class="slide-indicator">
                        <div class="slide-selected"></div>
                        <div class="slide-circle"></div>
                        <div class="slide-circle"></div>
                        <div class="slide-circle"></div>
                    </div>
                    <div class="scroll-selector">
                        <div class="selector left"><img src="assests/images/Icon awesome-chevron-left.png" alt=""></div>
                        <div class="selector right"><img src="assests/images/Icon awesome-chevron-right.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="sec-content">
              <div class="sec-carousel">
                  <div class="sec-carousel-track">
                      <div class="sec-card-container">
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 1 - Card 1</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 1 - Card 2</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 1 - Card 3</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                      </div>
                      <div class="sec-card-container">
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 2 - Card 1</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 2 - Card 2</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 2 - Card 3</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 2 - Card 4</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                      </div>
                      <div class="sec-card-container">
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 3 - Card 1</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 3 - Card 2</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                      </div>
                      <div class="sec-card-container">
                          <div class="sec-card">
                              <div class="sec-img"><img src="assests/images/Screenshot 2026-03-05 230011.png" alt=""></div>
                              <div class="sec-text">
                                  <p class="sec-name">Committee Container 4 - Card 1</p>
                                  <p class="sec-title">Committee Member</p>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="sec-scroll">
                  <div class="slide-indicator">
                      <div class="slide-selected"></div>
                      <div class="slide-circle"></div>
                      <div class="slide-circle"></div>
                      <div class="slide-circle"></div>
                  </div>
                  <div class="scroll-selector">
                      <div class="selector left"><img src="assests/images/Icon awesome-chevron-left.png" alt=""></div>
                      <div class="selector right"><img src="assests/images/Icon awesome-chevron-right.png" alt=""></div>
                  </div>
              </div>
              <div class="committee-label"><p class="sec-label">STANDING COMMITTEE</p></div>
          </div>
        </div>
    </div>
</section>
  <div class="lower">
    <app-footer></app-footer>
  </div>
</div>
