<footer>
  <div class="logo-wrapper">
    <img src="assets/images/secam-footer-logo.png" alt="Church Log" />
    <p>
      Official site of SECAM. Learn about the Catholic Church’s mission in
      Africa & Madagascar, news, events, pastoral updates, and resources.
    </p>
  </div>
  <div class="contact-us">
    <h5>Contact Us</h5>
    <div class="inputs-wrapper">
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="Email" />
      <textarea placeholder="Type your message"></textarea>
    </div>
    <button>Send</button>
  </div>
  <div class="events">
    <h5>Upcoming Events</h5>
    <div class="journey">
      <h6>POPE LEO JOURNEY</h6>
      <p>22-26 MARCH</p>
    </div>
    <div class="journey">
      <h6>POPE LEO JOURNEY</h6>
      <p>22-26 MARCH</p>
    </div>
    <div class="journey">
      <h6>POPE LEO JOURNEY</h6>
      <p>22-26 MARCH</p>
    </div>
  </div>
  <div class="follow-us">
    <h5>Follow Us</h5>
    <div class="footer-assets/images">
      <div>
        <img src="assets/images/footer-pope.png" alt="icon" />
        <img src="assets/images/footer-pope1.png" alt="icon" />
        <img src="assets/images/footer-pope.png" alt="icon" />
      </div>
      <div>
        <img src="assets/images/footer-pope1.png" alt="icon" />
        <img src="assets/images/footer-pope.png" alt="icon" />
        <img src="assets/images/footer-pope1.png" alt="icon" />
      </div>
    </div>
    <div class="social-icons">
      <img src="assets/icons/facebook.svg" alt="icon" />
      <img src="assets/icons/twitter.svg" alt="icon" />
      <img src="assets/icons/youtube.svg" alt="icon" />
    </div>
  </div>
</footer>
