footer {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 640px;
  padding: 130px 140px;
  background: #e1e1e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-wrapper {
  max-width: 455px;
  max-height: 351px;
}
.logo-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 147px;
  max-height: 147px;
}
.logo-wrapper p {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
h5 {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  margin: 0px;
  font-size: 32px;
  color: #000000;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 29px;
}
input {
  width: 100%;
  height: 100%;
  max-width: 291px;
  max-height: 50px;
  border-radius: 15px;
  border: 3px solid #009edf;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 14px 20px;
  font-size: 18px;
  color: #acacac;
}
textarea {
  width: 100%;
  height: 100%;
  max-width: 291px;
  max-height: 88px;
  border-radius: 15px;
  border: 3px solid #009edf;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 14px 20px;
  font-size: 18px;
  color: #acacac;
}
button {
  margin-top: 20px;
  max-width: 126px;
  max-height: 55px;
  padding: 13px 30px;
  border-radius: 15px;
  background-color: #009edf;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  border: 0px;
}
.journey {
  margin-top: 29px;
}
.journey h6 {
  font-family: "GFS Didot", serif;
  font-weight: 400;

  font-size: 24px;

  color: #000000;
}
.journey p {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 18px;

  color: #000000;
}
.footer-images {
  margin-top: 38px;
}
