<div>
  <app-navbar></app-navbar>
  <h1>Gallery</h1>
  <div class="lower">
    <div class="container">
      <div class="header">
        <p>
          The dioceses in Africa reflect the vast structure and growth of the
          Catholic Church across the continent, organized into hundreds of local
          churches within different countries and regions. Each diocese, led by
          a bishop or archbishop, serves as a unified network under SECAM that
          strengthens the mission of the Church in Africa.
        </p>
        <div class="header-input">
          <input type="text" placeholder="Search Countries" />
        </div>
      </div>
      <div class="content-wrapper">
        <p class="alphabet">A - F</p>
        <div class="content">
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/algeria.png" alt="algeria flag" />
              </div>
              <h6>Algeria</h6>
              <hr />
              <p><span>4</span> Dioceses</p>
            </div>
            <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div>
          </div>
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/angola.png" alt="algeria flag" />
              </div>
              <h6>Angola</h6>
              <hr />
              <p><span>19</span> Dioceses</p>
            </div>
            <!-- <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div> -->
          </div>
        </div>
        <div class="content">
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/algeria.png" alt="algeria flag" />
              </div>
              <h6>Algeria</h6>
              <hr />
              <p><span>4</span> Dioceses</p>
            </div>
            <!-- <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div> -->
          </div>
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/angola.png" alt="algeria flag" />
              </div>
              <h6>Angola</h6>
              <hr />
              <p><span>19</span> Dioceses</p>
            </div>
            <!-- <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div> -->
          </div>
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/benin.png" alt="algeria flag" />
              </div>
              <h6>Benin</h6>
              <hr />
              <p><span>10</span> Dioceses</p>
            </div>
            <!-- <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div> -->
          </div>
          <div class="flag-wrapper">
            <div class="flag-content">
              <div class="flag">
                <img src="assets/images/Botswana.png" alt="algeria flag" />
              </div>
              <h6>Botswana</h6>
              <hr />
              <p><span>5</span> Dioceses</p>
            </div>
            <!-- <div class="description">
              <p>
                Alger (Archdiocese) Constantine (-Hippone) (Diocese) Laghouat
                (Diocese) Oran (Diocese)
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
