<div class="container">
  <nav>
    <div class="logo-wrapper">
      <img src="assets/images/secam-logo.png" alt="Church Log" />
    </div>

    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/about']">About Us</a></li>
      <li><a [routerLink]="['/bishops']">Bishops</a></li>
      <li><a [routerLink]="['/plenaries']">Plenaries</a></li>
      <li><a [routerLink]="['/commissions']">Commissions</a></li>
      <li><a [routerLink]="['/publications']">Publications</a></li>
      <li><a [routerLink]="['/gallery']">Gallery</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
    <div>
      <button>
        <img src="assets/icons/web.svg" alt="Church icon" />
      </button>
      <button>
        <img src="assets/icons/Search.svg" alt="Church icon" />
      </button>
      <button>
        <img src="assets/icons/Profile.svg" alt="Church icon" />
      </button>
    </div>
  </nav>
  <div class="pope">
    <img src="assets/images/pope-wave.png" alt="pope" />
    <div class="overlay"></div>
  </div>
</div>
