<div>
  <app-navbar></app-navbar>
  <h1>Commissions</h1>
  <div class="lower">
    <div class="container">
      <h2 class="page-title">
        The following are the Commissions and offices of SECAM:
      </h2>
      <!-- Evangelization -->
      <div class="section">
        <div class="header purple">
          <div class="section-header">
            <div class="icon-wrapper">
              <img src="assets/icons/awesome-cross.svg" alt="Church icon" />
            </div>
            <div class="header-text">
              <h4>Evangelization Commission</h4>
            </div>
          </div>
          <div class="subtext">
            <h3>
              Led by the First Vice-President | Administered by the First Deputy
              Secretary General
            </h3>
          </div>
        </div>

        <div class="grid">
          <div class="card accent-purple">
            <div class="card-header">
              <h5>BICAM</h5>
              <span class="purple-detail">Catholic Biblical Centre</span>
            </div>

            <div class="card-details">
              <p>
                Encourages and coordinates Biblical Apostolate programmes
                continent-wide.
              </p>
            </div>
          </div>
          <div class="card accent-blue">
            <div class="card-header">
              <h5>COMITHEOL</h5>
              <span class="blue-detail">Theological Committee</span>
            </div>

            <div class="card-details">
              <p>
                The central hub for coordinating all major theological
                activities in Africa.
              </p>
            </div>
          </div>
          <div class="card accent-pink">
            <div class="card-header">
              <h5>Laity Board</h5>
              <span class="pink-detail">Pan-African Coordination</span>
            </div>

            <div class="card-details">
              <p>
                Liaison and joint action organ for the training and formation of
                the Laity.
              </p>
            </div>
          </div>
          <div class="card accent-purple-dark">
            <div class="card-header">
              <h5>ASSECAM</h5>
              <span class="purple-dark-detail">Catholic Education</span>
            </div>

            <div class="card-details">
              <p>
                Association of Catholic Education for Africa and Madagascar.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Justice -->
      <div class="section">
        <div class="header pink">
          <div class="section-header">
            <div class="icon-wrapper">
              <img src="assets/icons/metro-justice.png" alt="Justice icon" />
            </div>
            <div class="header-text">
              <h4>Justice, Peace & Development</h4>
            </div>
          </div>
          <div class="subtext">
            <h3>
              Led by the Second Vice-President | Administered by the Second
              Deputy Secretary General
            </h3>
          </div>
        </div>

        <div class="numbered">
          <div class="number"><p>01</p></div>
          <div class="number-details">
            <span>Good Governance Office</span><br />
            <p>
              Appraises political, diplomatic, and social situations to guide
              Church positions.
            </p>
          </div>
        </div>

        <div class="numbered">
          <div class="number"><p>02</p></div>
          <div class="number-details">
            <span>HIV/AIDS Office</span><br />
            <p>
              Strategic office managing Church response and social support for
              health crises.
            </p>
          </div>
        </div>
      </div>

      <!-- Social Communications -->
      <div class="section">
        <div class="header deep-purple">
          <div class="section-header">
            <div class="icon-wrapper">
              <img
                src="assets/icons/awesome-hands-helping.png"
                alt="Social Communications icon"
              />
            </div>
            <div class="header-text">
              <h4>Social Communications</h4>
            </div>
          </div>
          <div class="subtext">
            <h3>
              Oversight by a Committee of Bishops appointed by the Standing
              Committee
            </h3>
          </div>
        </div>

        <div class="boxed">
          <h5>Operations Team</h5>

          <div class="small-card">
            <h6>Bishop Chairman</h6>
            <p>Provides strategic high-level direction.</p>
          </div>

          <div class="small-card">
            <h6>Bishop Chairman</h6>
            <p>Provides strategic high-level direction.</p>
          </div>
        </div>
      </div>

      <!-- Internal Operations -->
      <div class="section">
        <div class="header blue">
          <div class="section-header">
            <div class="icon-wrapper">
              <img
                src="assets/icons/awesome-church.png"
                alt="Internal Operations icon"
              />
            </div>
            <div class="header-text">
              <h4>Internal Operations</h4>
            </div>
          </div>
          <!-- <div class="subtext">
            <h3>
              Led by the First Vice-President | Administered by the First Deputy
              Secretary General
            </h3>
          </div> -->
        </div>
        <div class="internal-operations">
          <p>
            Behind the theological and social work, SECAM maintains a robust
            administrative core overseen by the Secretary General. This ensures
            fiscal responsibility and smooth day-to-day functionality.
          </p>

          <div class="operations-small-card">
            <h6>Administrative Office</h6>
            <p>
              Falls directly under the mandate of the Secretary General for
              general institutional management.
            </p>
          </div>

          <div class="operations-small-card">
            <h6>Accounts Office</h6>
            <p>
              Headed by the Treasurer with a full-time Accountant. All financial
              activities are supervised by the Secretary General.
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
