<div>
  <app-navbar></app-navbar>
  <h1>Bishops</h1>
  <div class="lower">
    <div class="wrapper">
      <div class="header">
        <h1>
          Celebrating over five decades of spiritual leadership and pan-African
          ecclesial unity.
        </h1>
        <div class="card-group">
          <div class="header-card">
            <span>14</span>
            <p>Presidents</p>
          </div>
          <div class="header-card">
            <span>9</span>
            <p>Countries</p>
          </div>
          <div class="header-card">
            <span>10</span>
            <p>Cardinals</p>
          </div>
          <div class="header-card">
            <span>55+</span>
            <p>Years</p>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="outer-content">
          <div class="circle">
            <div class="middle-dot"></div>
          </div>
          <div class="" style="width: 100%">
            <span class="date">20223 - To Date</span>
            <div class="content">
              <div class="header-content">
                <h6>His Eminence</h6>
                <span>DR Congo</span>
              </div>
              <h5>FRIDOLIN CARDINAL AMBONGO BESUNGU, OFM CAP</h5>
              <p>Archbishop of Kinshasa</p>
            </div>
          </div>
        </div>
        <div class="outer-content">
          <div class="circle">
            <div class="middle-dot"></div>
          </div>
          <div class="" style="width: 100%">
            <span class="date">20223 - To Date</span>
            <div class="content">
              <div class="header-content">
                <h6>His Eminence</h6>
                <span>DR Congo</span>
              </div>
              <h5>FRIDOLIN CARDINAL AMBONGO BESUNGU, OFM CAP</h5>
              <p>Archbishop of Kinshasa</p>
            </div>
          </div>
        </div>
        <div class="outer-content">
          <div class="circle">
            <div class="middle-dot"></div>
          </div>
          <div class="" style="width: 100%">
            <span class="date">20223 - To Date</span>
            <div class="content">
              <div class="header-content">
                <h6>His Eminence</h6>
                <span>DR Congo</span>
              </div>
              <h5>FRIDOLIN CARDINAL AMBONGO BESUNGU, OFM CAP</h5>
              <p>Archbishop of Kinshasa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
