<div>
  <app-navbar></app-navbar>
  <h1>Plenaries</h1>
  <div class="lower">
    <div class="container">
      <div class="content-wrapper">
        <div class="content">
          <div class="content-header">
            <div class="number">
              <span>NO. 1</span>
              <p>Kampala, Uganda</p>
            </div>
            <div class="date">
              <span>1996</span>
              <p>28-31 July</p>
            </div>
          </div>
          <div class="content-body">
            <h6>Primary Themes</h6>
            <p>
              The Establishment of the Symposium and General Problems of the
              Church in Africa
            </p>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <div class="number">
              <span>NO. 1</span>
              <p>Kampala, Uganda</p>
            </div>
            <div class="date">
              <span>1996</span>
              <p>28-31 July</p>
            </div>
          </div>
          <div class="content-body">
            <h6>Primary Themes</h6>
            <p>
              The Establishment of the Symposium and General Problems of the
              Church in Africa
            </p>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <div class="number">
              <span>NO. 1</span>
              <p>Kampala, Uganda</p>
            </div>
            <div class="date">
              <span>1996</span>
              <p>28-31 July</p>
            </div>
          </div>
          <div class="content-body">
            <h6>Primary Themes</h6>
            <p>
              The Establishment of the Symposium and General Problems of the
              Church in Africa
            </p>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <div class="number">
              <span>NO. 1</span>
              <p>Kampala, Uganda</p>
            </div>
            <div class="date">
              <span>1996</span>
              <p>28-31 July</p>
            </div>
          </div>
          <div class="content-body">
            <h6>Primary Themes</h6>
            <p>
              The Establishment of the Symposium and General Problems of the
              Church in Africa
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
