<div>
  <app-navbar></app-navbar>
  <h1>Publications</h1>
  <div class="lower">
    <div class="container">
      <div class="header-wrapper">
        <div class="input-wrapper">
          <input type="text" placeholder="what are you looking for?" />
        </div>
        <div>
          <select>
            <option>News</option>
          </select>
        </div>
        <div>
          <button>Search</button>
        </div>
      </div>
      <hr class="line" />
      <div class="content-wrapper">
        <div class="image-wrapper">
          <img src="assets/images/pope-hands.png" alt="Church icon" />
        </div>
        <div class="content">
          <div class="date">
            <span>March 12, 2026</span>
          </div>
          <h6>
            Pope Leo XIV Appoints Cameroonian Economist Dr. Vera Songwe as
            Member of the Pontifical Academy of Social Sciences
          </h6>
          <p>
            In a message addressed to the Holy Father, Cardinal Ambongo
            expressed “profound honor and immense joy” on behalf of the
            Church-Family of God in Africa and its islands.
          </p>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <img src="assets/images/pope-hands.png" alt="Church icon" />
        </div>
        <div class="content">
          <div class="date">
            <span>March 12, 2026</span>
          </div>
          <h6>
            Pope Leo XIV Appoints Cameroonian Economist Dr. Vera Songwe as
            Member of the Pontifical Academy of Social Sciences
          </h6>
          <p>
            In a message addressed to the Holy Father, Cardinal Ambongo
            expressed “profound honor and immense joy” on behalf of the
            Church-Family of God in Africa and its islands.
          </p>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <img src="assets/images/pope-hands.png" alt="Church icon" />
        </div>
        <div class="content">
          <div class="date">
            <span>March 12, 2026</span>
          </div>
          <h6>
            Pope Leo XIV Appoints Cameroonian Economist Dr. Vera Songwe as
            Member of the Pontifical Academy of Social Sciences
          </h6>
          <p>
            In a message addressed to the Holy Father, Cardinal Ambongo
            expressed “profound honor and immense joy” on behalf of the
            Church-Family of God in Africa and its islands.
          </p>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <img src="assets/images/pope-hands.png" alt="Church icon" />
        </div>
        <div class="content">
          <div class="date">
            <span>March 12, 2026</span>
          </div>
          <h6>
            Pope Leo XIV Appoints Cameroonian Economist Dr. Vera Songwe as
            Member of the Pontifical Academy of Social Sciences
          </h6>
          <p>
            In a message addressed to the Holy Father, Cardinal Ambongo
            expressed “profound honor and immense joy” on behalf of the
            Church-Family of God in Africa and its islands.
          </p>
        </div>
      </div>
      <hr class="line" />
      <div class="pagination-container">
        <span class="page-item active">1</span>

        <span class="page-item">2</span>
        <span class="page-item">3</span>

        <span class="dots">...</span>

        <span class="page-item">5</span>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
